body {
    padding-top: 5rem;
}

.container{
    padding-bottom: 80px;
}

#one{
    background-color: blueviolet;
    color:white;
    padding-top: 50px;
}

#two{
    background-color:white;
    color:black
    
}

img{
    border-radius: 50%;
    width:25%;
    height: auto;
}


#trio{
    display: flex;
    justify-content: center;
    flex-direction: row;

}

.i{
    display: flex;
    flex-direction: column;
    padding:0px 70px;
}
.button{
    display: inline-block;
    background-color: red;
    color: white;
    border-radius: 8px;
    padding: 10px 70px;
    text-decoration: none;
    font-size: 22px;
}

#outer{
    display: flex;
    justify-content: center;
    padding-top: 40px;
}

#blog{
    padding: 20px 130px;
}

.center{
    display: flex;
    justify-content: center;
}

#one-main{
    display:flex;
    align-items: center;
    flex-direction: column;
    padding-top: 20px;
}

p{
    font-size: 18px;
}
